<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.testvictorinox.ensa"
        versionCode = "1.0"
        version     = "1.0.0">
 
    <name>Encuesta Satisfaccion</name>
 
    <description>
        Encuesta de satisfaccion
    </description>
 
    <author  email="pepes17@hotmail.com">
        Sergio Serrano
    </author>
 
    
	<gap:splash src="css/images/emoticones_excelente.png" />
 
</widget>
