<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "EEB67HMKBY.com.testvictorinox.ensa"
        versionCode = "01"
        version     = "1.1.0">
 
    <name>Encuesta Satisfaccion</name>
 
    <description>
        Encuesta de satisfaccion
    </description>
 
    <author  email="pepes17@hotmail.com">
        Sergio Serrano
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="webos" />
	<gap:platform name="symbian" />
	<gap:platform name="blackberry" />
	<gap:platform name="winphone" />
	<gap:splash src="css/images/emoticones_excelente.png" />
 
</widget>
